.cart {
    padding: 1rem;
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    background-color: #1de9b6;
    color: $primary-color;
    border-radius: 4%;
    cursor: pointer;
    z-index: 5;
}

.cart-ammount {

}

@media screen and (min-width: 392px) {
    .cart {
         top: 5rem;
         bottom: unset;
    }

}

